@model BotCreator.Core.TelegramBot
@{
    Layout = "UserLayout";
}

@section Styles {
    <link href="~/css/sidebar.css" rel="stylesheet" type="text/css" />
}

<div class="sidebar">
    <a class="active sidebar-item">All queries</a>
    <a class="sidebar-item">Edit bot info</a>
    <a class="sidebar-item">Add query</a>
    <a class="sidebar-item" asp-action="Bots" asp-controller="Main">Go back</a>
</div>

<div class="content">
    <div class="sidebar_view  active_view">
        @{
            foreach (var i in Model.BotQueries)
            {
                <div class="bot_preview text-center">
                    <p>Query - @i.Value</p>
                    <p>Response - @i.Response.Value</p>
                    <form asp-action="UpdateQuery" asp-controller="Bots" method="get" class="buttons_view">
                        <input type="hidden" value="@i.Id" name="Id" />
                        <input type="hidden" value="@Model.Id" name="BotId" />
                        <input type="submit" value="Edit" class="btn btn-warning mb-2 text-white" />
                    </form>
                    <form asp-action="RemoveQuery" asp-controller="Bots" method="post" class="buttons_view">
                        <input type="hidden" value="@i.Id" name="Id" />
                        <input type="hidden" value="@Model.Id" name="BotId" />
                        <input type="submit" value="Delete" class="btn btn-danger mb-2" />
                    </form>
                </div>
            }
        }
    </div>
    <div class="sidebar_view">
        <form asp-action="UpdateBot" asp-controller="Bots" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label for="inputName">Bot Name</label>
                <input type="text" name="BotName" value="@Model.BotName" id="inputName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="inputToken">Bot Token</label>
                <input type="text" name="BotToken" value="@Model.BotToken" id="inputToken" class="form-control" />
            </div>
            <input type="submit" value="Edit" class="btn btn-success btn-block" />
        </form>
    </div>
    <div class="sidebar_view">
        <div class="queries_info">
            <form asp-action="AddQuery" asp-controller="Bots" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <label for="inputName">Bot Query</label>
                    <input type="text" name="Query" placeholder="Query" id="inputQuery" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputToken">Bot Response</label>
                    <input type="text" name="Response" placeholder="Response" id="inputResponse" class="form-control" />
                </div>
                <input type="submit" value="Add" class="btn btn-success btn-block" />
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/sidebar.js" type="text/javascript"></script>
}
