@model BotCreator.Core.BotQueries.BotQuery
@{
    Layout = "UserLayout";
}

    <div class="container">
        <form asp-action="UpdateQuery" asp-controller="Bots" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="BotId" value="@ViewBag.BotId" />
            <div class="form-group">
                <label for="inputName">Bot Query</label>
                <textarea name="Query" placeholder="Query text here" id="inputQuery" class="form-control">@Model.Value</textarea>
            </div>
            <div class="form-group">
                <label for="inputToken">Bot Response</label>
                <textarea name="Response" placeholder="Response text here" id="inputResponse" class="form-control">@Model.Response.Value</textarea>
            </div>
            <input type="submit" value="Edit" class="btn btn-success btn-block" />
            <a class="btn btn-secondary btn-block" asp-action="EditBot" asp-controller="Bots" asp-route-Id="@ViewBag.BotId">Go Back</a>
        </form>
    </div>